#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8px;
}

.page-container {
  min-height: calc(100vh - var(--footer-height));
  max-width: 90%;
  margin: 0 auto;
  padding: calc(var(--header-height) + 40px) 0 40px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s ease-out;
}

header {
  height: 70px;
  padding-bottom: 4px;
  width: calc(100% - 16px);
  max-width: 1280px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.home-container {
  gap: 10px;
}

.top-content {
  max-width: 90%;
  align-self: center;
  display: flex;
  gap: 40px;
}

h1 {
  font-size: 44px;
  font-weight: 600;
  display: inline-block;
}

p {
  font-weight: 200;
  color: var(--secondary-text-color);
}

.description-text {
  padding: 8px 0;
  max-width: 530px;
}

.abilities {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.break-line {
  display: inline-block;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  max-width: 580px;
  color: var(--secondary-text-color);
}

.abilities-logos {
  align-self: center;
  display: flex;
  gap: 15px;
}

.main-info {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.main-photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

h2 {
  height: 42px;
  font-size: 34px;
  font-weight: 500;
  line-height: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* PROJECT */
.projects-container {
  gap: 40px;
}

.project-logo {
  margin-right: 9px;
}

.projects-container h2 span svg {
  height: 24px;
}

.projects {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.project {
  max-width: 350px;
  /* min-height: 307px; */
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.project.hover {
  outline-color: var(--secondary-text-color);
}

.project-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  object-fit: contain;
}

.project-image-hover {
  filter: brightness(33%) blur(4px);
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

.technologies h3 {
  padding-right: 20px;
}

.project-text {
  margin-top: 2.5px;
  color: var(--secondary-text-color);
  text-align: center;
}

.image-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.project-buttons {
  position: absolute;
  display: flex;
  gap: 20px;
  opacity: 0;
}

.project-buttons.show {
  opacity: 1;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* BUTTON */
.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.show-close-icon {
  fill: var(--secondary-text-color);
}

button,
.small-button,
.medium-button {
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.small-button {
  height: 28px;
  min-width: 28px;
}

.small-button {
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-button svg {
  height: 20px;
}

.mail-button svg {
  margin-left: 6px;
  height: 20px;
  fill: var(--secondary-text-color);
}

/* Customize contact buttons & big buttons svg color */

.small-button svg g g {
  fill: var(--secondary-text-color);
}

.medium-button svg,
.medium-button svg g g {
  fill: var(--secondary-text-color);
}
.medium-button svg.maintain-color g g {
  fill: var(--primary-text-color);
}

.small-button svg path {
  fill: var(--secondary-text-color);
}

button {
  font-size: 16px;
  font-weight: 300;
}

.mail-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5px;
}

.mail {
  padding: 0 3px 0 4px;
  user-select: text;
}

.clipboard {
  font-size: 12px;
  opacity: 0;
  transition: 0.5s ease-out;
}

.clipboard.show {
  opacity: 1;
}

.big-button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.big-button {
  border: 1px solid var(--secondary-text-color);
  display: flex;
  border-radius: 8px;
  padding: 10px;
}

.big-button svg {
  height: 50px;
  width: 50px;
  padding: 0;
}

/*  TECHNOLOGY-BOX */
.technology-box {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology-box svg {
  height: 20px;
}

/* NAVBAR */
nav {
  width: 100%;
}

nav ul {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

nav a {
  font-weight: 400;
  letter-spacing: 0.25px;
  color: var(--secondary-text-color);
}

/* TEXTBOX */
.text-box {
  margin-top: 30px;
  min-width: 260px;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.text-box svg {
  height: 36px;
}

.text-box-label {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  padding: 0 5px 0 10px;
  top: -20px;
  left: 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/* ESTUDIOS */
.techs-container {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.do-transition {
  transition: 0.5s ease-out;
}

.tech-box-container {
  margin: 0 auto;
  width: 700px;
  position: relative;
}

.tech-box {
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;
}

.courses-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.courses-label svg {
  height: 26px;
}

.tech-label-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.tech-box img {
  height: 22px;
}

.tech-label {
  font-size: 20px;
  /* align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 5px 15px;
  gap: 10px;
  margin-bottom: 10px;
  max-height: 37px;
  width: 100%; */
  /* TODO: ellipsis in responsive*/
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.course-info {
  padding-left: 10px;
  margin-top: 5px;
}

.course-info ul {
  list-style-type: '- ';
  padding-left: 15px;
}

.tech-box-container .small-button-container {
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.tech-box-container .small-button {
  padding: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tech-box-container .small-button svg {
  height: 16px;
  width: 16px;
}

.course-info p {
  font-size: 14px;
}

.tech-box ul {
  padding-bottom: 10px;
  padding-left: 25px;
}

.tech-box li {
  color: var(--secondary-text-color);
  font-weight: 100;
  font-size: 14px;
}

.tech-box ul:last-child li:last-child {
  padding-right: 30px;
}

/* Medium Button */
.techs-container .technologies {
  flex-wrap: wrap;
  gap: 0;
  row-gap: 5px;
}

.medium-button-container {
  width: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5px;
}

.medium-button {
  width: 48px;
  height: 48px;
}

.medium-button svg {
  height: 36px;
}

.medium-button-container p {
  font-size: 12px;
}

/* FOOTER */

footer {
  height: 70px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  padding-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer p,
.copyright-container {
  display: inline-flex;
  align-items: center;
}

footer a,
.text-box a {
  font-weight: 400;
  color: var(--secondary-text-color);
}

footer a::before {
  content: '\00a0';
}

footer span {
  padding: 0 16px;
}

.theme-changer {
  width: 48px;
  height: 24px;
  border-radius: 15px;
  background-color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2px;
  padding-left: 2px;
  position: relative;
}

.theme-selector {
  position: absolute;
  left: 1px;
  right: unset;
  background-color: var(--secondary-background-color);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transition: 0.5s ease-out;
}

.theme-selector.light-active {
  left: unset;
  right: 1px;
}

.theme-changer svg {
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 1;
  fill: var(--primary-text-color);
  filter: brightness(100%);
}

@media (hover: hover) {
  .small-button.hover,
  .medium-button.hover,
  button.hover {
    border-color: var(--secondary-text-color);
  }

  .dark .big-button.hover {
    border-color: var(--primary-text-color);
  }

  .light .big-button.hover {
    border-color: var(--alternative-primary-text-color);
  }
}

/* Responsive */
@media (max-width: 960px) {
  header {
    height: var(--header-responsive-height);
  }

  .page-container {
    min-height: calc(100vh - var(--footer-responsive-height));
    max-width: 95%;
    padding: calc(var(--header-responsive-height) + 20px) 0 20px 0;
    gap: 0;
  }

  h1 {
    font-size: 32px;
    text-align: center;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  .project {
    min-height: 270px;
  }

  .project-logo {
    transform: scale(0.75);
  }

  a,
  button,
  .small-button,
  .big-button {
    -webkit-tap-highlight-color: transparent;
  }

  button,
  .small-button span {
    font-size: 14px;
    font-weight: 300;
  }

  .small-button:active,
  button:active {
    border-color: var(--secondary-text-color);
  }

  .big-button:active {
    border-color: var(--primary-text-color);
  }

  p {
    font-size: 14px;
  }

  .top-content {
    min-height: 430px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    font-size: 16px;
  }

  .main-photo {
    order: -1;
    width: 150px;
    height: 150px;
  }

  .description-text {
    padding: 4px 0;
    text-align: center;
    max-width: 280px;
  }

  .main-info {
    min-height: 270px;
    gap: 5px;
    align-items: center;
  }

  .contact-buttons {
    height: 40px;
  }

  .mail-button {
    gap: 0;
  }

  nav a {
    font-size: 14px;
  }

  .projects-container {
    padding-top: calc(var(--header-responsive-height) + 7.5px);
    gap: 10px;
  }

  .about-me-container {
    padding-top: calc(var(--header-responsive-height) + 7.5px);
    gap: 0;
  }

  .projects {
    margin-top: 10px;
    row-gap: 20px;
  }

  .project .big-button {
    pointer-events: none;
  }

  .project-buttons.show .big-button {
    opacity: 1;
    pointer-events: all;
  }

  .text-box {
    padding: 15px;
    margin-top: 25px;
  }

  .text-box svg {
    height: 28px;
  }

  .text-box-label {
    font-size: 16px;
    top: -16px;
  }

  .techs-container {
    gap: 10px;
  }

  .tech-box-container {
    width: 100%;
    margin-bottom: 5px;
  }

  .tech-box {
    padding: 10px 15px;
  }

  .tech-box img {
    height: 18px;
  }

  .tech-label {
    font-size: 16px;
  }

  .course {
    font-size: 20px;
  }

  .course-info {
    margin-top: 0;
  }

  .medium-button {
    width: 36px;
    height: 36px;
  }

  .medium-button svg {
    height: 26px;
  }

  footer {
    height: var(--footer-responsive-height);
    flex-direction: column;
    justify-content: center;
    gap: 3px;
  }

  footer div p:last-child span {
    display: none;
  }

  footer span {
    padding: 0 8px;
  }

  .theme-changer {
    width: 44px;
    height: 22px;
    border-radius: 11px;
  }

  .theme-selector {
    height: 20px;
    width: 20px;
  }

  .theme-changer svg {
    height: 18px;
    width: 18px;
  }
}
