#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8px;
}

.page-container {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  height: 70px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  height: 70px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.top-content {
  display: flex;
  gap: 36px;
}

h1 {
  font-size: 44px;
  font-weight: 600;
  display: inline-block;
  /* font-size: 3em; */
  /* max-width: 400px; */
}

p {
  font-weight: 200;
  color: var(--secondary-text-color);
}

.description-text {
  padding: 8px 0;
}

.abilities {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.break-line {
  display: inline-block;
}

.ability-text {
  font-size: 18px;
  font-weight: 400;
  /* display: inline-block; */
  max-width: 580px;
  color: var(--secondary-text-color);
  /* padding: 4px 8px; */
  /* border: 1px solid var(--secondary-text-color); */
  /* border-radius: 8px;
  background-color: #3f8e00; */
}

.abilities-logos {
  align-self: center;
  display: flex;
  gap: 15px;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.main-photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

h2 {
  font-size: 34px;
  font-weight: 500;
}

/* PROJECT */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  max-width: 360px;
  min-width: 260px;
  /* aspect-ratio: 1; */
  /* outline: 1px solid var(--secondary-text-color); */
  border: 10px solid transparent;
  border-radius: 10%;
  overflow: hidden;
  position: relative;
  /* padding: 10px; */
}

.project:hover {
  outline-color: var(--secondary-text-color);
}

.project-image {
  width: 100%;
  object-fit: contain;
  /* border-top-right-radius: 10%;
  border-top-left-radius: 24px; */
}

.project-image-hover {
  filter: brightness(33%) blur(4px);
}

.project-text {
  margin: 5px 0;
  color: var(--secondary-text-color);
  text-align: center;
}

.image-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  position: absolute;
  display: flex;
  gap: 20px;
}

/* BUTTON */
.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon {
  fill: var(--secondary-text-color);
  width: 20px;
  height: 20px;
  /* margin-top: 3px; */
}

button {
  height: 28px;
  min-width: 28px;
  padding: 0px 3px;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-text-color);
  text-align: center;
}

.cv {
  padding-right: 4px;
}

.mail {
  padding: 0 5px;
  user-select: text;
}

.link {
  padding: 0;
}

.link svg {
  transform: rotate(45deg);
  margin-top: 0;
}

/* button span svg {
  width: 24px;
  height: 24px;
  margin-top: 3px;
} */
.big-button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.big-button {
  border: 1px solid var(--secondary-text-color);
  display: flex;
  border-radius: 10%;
  padding: 10px;
}

.big-button:hover {
  border-color: var(--dark-primary-text-color);
}

.big-button svg {
  height: 50px;
  width: 50px;
  padding: 0;
}

/*  TECHNOLOGY-BOX */
.technology-box {
  width: 36px;
  height: 36px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 1024px) {
  .page-container {
    max-width: 90%;
    height: unset;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    padding: 20px 0;
  }

  h1 {
    font-size: 32px;
    text-align: center;
  }

  .top-content {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .ability-text {
    font-size: 16px;
  }

  .main-photo {
    order: -1;
    width: 150px;
    height: 150px;
  }

  .description-text {
    text-align: center;
    font-size: 14px;
  }

  .main-info {
    align-items: center;
  }
}
