@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --header-height: 70px;
  --header-responsive-height: 60px;
  --footer-height: 70px;
  --footer-responsive-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zalando Sans', sans-serif;
}

html {
  scrollbar-gutter: stable both-edges;
}

.dark {
  --background-color: #080808;
  /* --secondary-background-color: #1b1b1b; */
  --secondary-background-color: #262626;
  --primary-text-color: #f7f7f7;
  --secondary-text-color: #9c9c9c;
}

.light {
  --background-color: #f7f7f7;
  /* --secondary-background-color: #e4e4e4; */
  --secondary-background-color: #d8d8d8;
  --primary-text-color: #080808;
  --alternative-primary-text-color: #f7f7f7;
  --secondary-text-color: #636363;
  --alternative-secondary-text-color: #9c9c9c;
}

.dark nav a:hover,
.dark footer a:hover {
  filter: brightness(150%);
}

.light nav a:hover,
.light footer a:hover {
  filter: brightness(50%);
}

.dark .big-button svg g g,
.dark .big-button svg {
  fill: var(--secondary-text-color);
}

.light .big-button svg g g,
.light .big-button svg {
  fill: var(--alternative-secondary-text-color);
}

.light .big-button-container p {
  color: var(--alternative-secondary-text-color);
}

body,
.text-box-label {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

header,
footer {
  background-color: var(--secondary-background-color);
}

.project {
  border: 1px solid var(--secondary-background-color);
}

.technology-box,
.small-button,
.medium-button,
.text-box,
button {
  border: 1px solid var(--secondary-background-color);
}

.tech-box {
  outline: 1px solid var(--secondary-background-color);
}

.text-box svg {
  fill: var(--primary-text-color);
}

nav a.active,
.course {
  color: var(--primary-text-color);
}

.medium-button-container .medium-button.selected {
  border-color: var(--primary-text-color);
}
